#homePage{
	background-color: #FFFFFF;
}

#octonautPage1{
	background-color: #B2F7F1;
}

#octonautPage3{
	background-color: #B5B5B5;
}
#pawPatrolPage1{
	background-color: #ABDFFF;
}

.highlight{
	background-color: #FFFED4;
}

#pawPatrolPage3{
	background-color: #B5B5B5;
}
#pawPatrolPage4{
	background-color: #FFA3E5;
}

#pjMasksPage1{
	background-color: #43ACE0;
}

#pjMasksPage3{
	background-color: #B5B5B5;
}
a {
	color: #1000FF;
}